* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
}
.navbar {
  position: fixed;
  padding: 8px 16px;
  background-color: #fff;
}
.navbar__content {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
}
nav ul div {
  list-style: none;
  display: flex;
}
span {
  font-weight: bolder;
}
nav ul div li a {
  padding: 8px 16px;
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  letter-spacing: 4px;
  /* line-height: 1.5; */
}
.Links {
  justify-content: right;
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  letter-spacing: 4px;
  /* line-height: 1.5; */
}
nav ul li a:hover {
  background-color: #c7c1c1;
  color: black;
}
.active {
  background-color: white;
  color: black;
}
header {
  padding: 0 auto;
  max-width: 1500px;
  display: flex;
  height: 546px;
  justify-content: center;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  align-items: center;
}
.container {
  align-items: center;
}
